
@import url("https://fonts.googleapis.com/css2?family=Itim&family=Orbitron:wght@400..900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-color: rgb(255, 234, 0); 
  padding: 15px 20px; 
  position: fixed; 
  width: 100%;
  top: 0; 
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-link {
  color: black; 
  text-decoration: none; 
  font-size: 18px; 
  font-weight: bold; 
  margin: 0 20px; 
  padding: 10px 15px; 
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}

.slider {
  width: 100%;
  min-height: 80vh;
  aspect-ratio: 16/9;
  background: rgb(255, 234, 0);
  position: relative;
}

.slider-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(30%);
}

.slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  color: white;
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 100px;
  margin-left: 100px;
  padding-left: 10px;
}

p {
  font-size: 1.5rem;
  line-height: 1.5em;
}

.slider-content p {
  color: white;
  font-size: 2rem;
  font-weight: 300;
}

.color-name {
  color: black;
}

.title-color {
  color: black !important;
}

.section {
  padding: 100px 0;
  color: black;
  background-color: rgb(230, 220, 39);
}

.boxed {
  max-width: 1200px;
  margin-inline: auto;
}

.flex {
  display: flex;
}

.dark {
  background: black;
  color: #fff;
}

.w40 {
  width: 40%;
}
.image-profil {
  width: 250px;
  height: 250px;
  /*border-radius: %;*/
  padding-left: 20%;
  padding-bottom: 30%;
  justify-content: center;

  overflow: hidden;
  margin: 0 auto;
}

/*.radius {
    background-color: aquamarine;
    border-radius: 10000px;
    margin-bottom: 50%;
    height: px;
    justify-content: center;
}*/

.w60 {
  width: 60%;
  margin: auto;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.text-center {
  text-align: center;
  }

.w25 {
  width: 250%;
}

.gap20{
  gap: 20px;
}


.skill {
  background-color: #333;
  border-radius: 15px;
  padding-left: 20px;
  margin-left: 20px;
  box-sizing: border-box;
}

.skill img {
  width: 100px;
  height: 100px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.skill h3{
  margin-top: 10px;
}


.javascript {
  width: 70%;
}

.html {
    width: 50%;
  }

.css {
    width: 70%;
  }

.react {
    width: 100%;
   
  }
  

/*h3 {
}*/
